### Import Pandas

In [1]:
import pandas as pd

ModuleNotFoundError: No module named 'pandas'

In [ ]:
!pip install pandas

In [1]:
import pandas as pd

In Jupyter Notebook, you can press 'A' to insert cell above and press 'B' to insert a cell below the current cell.

A lot of times, your data may contain strings and mixed data. And we saw that Numpy cannot handle mixed type of data. Generally, people don't really use NumPy for string manipulation. In pandas, you will be able to work with non-numeric data types and we will be able to work with different types of data within the same table. \

Download the data
Let's create a folder to save the data files. Go to https://www.kaggle.com/codingelements . Look for gapminder dataset, and click on it to go the page. We can say the data is stored in the '.csv' file. Data headers and some statistics for every columns are also given. Download this file and store in the data folder that you have just created.

### Read the CSV file

In [5]:
df = pd.read_csv('data/gapminder.csv')

       country continent  year  lifeExp  population   gdpPerCap
0  Afghanistan      Asia  1952   28.801     8425333  779.445314
1  Afghanistan      Asia  1957   30.332     9240934  820.853030
2  Afghanistan      Asia  1962   31.997    10267083  853.100710
3  Afghanistan      Asia  1967   34.020    11537966  836.197138
4  Afghanistan      Asia  1972   36.088    13079460  739.981106

Save this data in a variable. In pandas, the table is called a data-frame, and print first 5 rows using `.head()`. Bottom rows can be printed using `.tail()`.

In [9]:
df = pd.read_csv('data/gapminder.csv')
df.head(5) # prints only the top-5 rows

       country continent  year  lifeExp  population   gdpPerCap
0  Afghanistan      Asia  1952   28.801     8425333  779.445314
1  Afghanistan      Asia  1957   30.332     9240934  820.853030
2  Afghanistan      Asia  1962   31.997    10267083  853.100710
3  Afghanistan      Asia  1967   34.020    11537966  836.197138
4  Afghanistan      Asia  1972   36.088    13079460  739.981106

### Check the type of dataframe

In [11]:
type(df)

pandas.core.frame.DataFrame

### Dimension of a dataframe

In [12]:
df.shape

(1704, 6)

### Get the basic info of the dataframe

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1704 entries, 0 to 1703
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   country     1704 non-null   object
 1   continent   1704 non-null   object
 2   year        1704 non-null   int64
 3   lifeExp     1704 non-null   float64
 4   population  1704 non-null   int64
 5   gdpPerCap   1704 non-null   float64
dtypes: float64(2), int64(2), object(2)
memory usage: 80.0+ KB

### Statistical overview of the dataframe

In [14]:
df.describe()

             year      lifeExp    population      gdpPerCap
count  1704.00000  1704.000000  1.704000e+03    1704.000000
mean   1979.50000    59.474439  2.960121e+07    7215.327081
std      17.26533    12.917107  1.061579e+08    9857.454543
min    1952.00000    23.599000  6.001100e+04     241.165877
25%    1965.75000    48.198000  2.793664e+06    1202.060309
50%    1979.50000    60.712500  7.023596e+06    3531.846989
75%    1993.25000    70.845500  1.958522e+07    9325.462346
max    2007.00000    82.603000  1.318683e+09  113523.132900

The statistical overview is only possible for numerical columns.

In [ ]:
###

In [16]:
df.columns

Index(['country', 'continent', 'year', 'lifeExp', 'population', 'gdpPerCap'], dtype='object')